index:
    resource: "@p6CoreBundle/Resources/config/routing.yml"
    prefix:   /

homepage:
    path:    /
    defaults: { _controller: p6CoreBundle:Index:index }

register:
    path:     /register
    defaults: { _controller: p6UserBundle:Registration:register }

login:
    path: /login
    defaults: { _controller: p6UserBundle:Security:login }

login_check:
    path: /login_check

logout:
    path: /Logout
    defaults: { _controller: p6CoreBundle:Index:index }

register_validation:
    path: /validate/token={token}
    defaults: { _controller: p6UserBundle:Registration:validate }

forget:
    path: /forgot_password
    defaults: { _controller: p6UserBundle:Security:forget }

reset:
    path: /reset_password/token={token}
    defaults: { _controller: p6UserBundle:Security:reset }

trick:
  path: /trick/detail/{id}
  defaults: { _controller: p6CoreBundle:Index:view }

newTrick:
  path: /newTrick
  defaults : { _controller:p6CoreBundle:Trick:add}
