# To get started with security, check out the documentation:
# https://symfony.com/doc/current/security.html
security:

    encoders:
        p6\UserBundle\Entity\user:
            algorithm: bcrypt


    role_hierarchy:
        ROLE_ADMIN:       ROLE_USER

    # https://symfony.com/doc/current/security.html#b-configuring-how-users-are-loaded
    providers:
        #in_memory:
        #    memory:
        #        users:
        #            admin:
        #                password: admin
        #                roles: 'ROLE_ADMIN'
        main:
            entity:
               class:    p6\UserBundle\Entity\user
               property: username



    firewalls:
        # disables authentication for assets and the profiler, adapt it according to your needs
        dev:
            pattern: ^/(_(profiler|wdt)|css|images|js)/
            security: false

        main:
            pattern:   ^/
            anonymous: true
            form_login:
                login_path: login
                check_path: login_check
                csrf_token_generator: security.csrf.token_manager
            logout:
                path: logout
                target: /

    access_control:
        - { path: ^/login, roles: IS_AUTHENTICATED_ANONYMOUSLY}

            # https://symfony.com/doc/current/security.html#a-configuring-how-your-users-will-authenticate
            #http_basic: ~

            # https://symfony.com/doc/current/security/form_login_setup.html
            #form_login: ~
