{% extends "p6CoreBundle::layout.html.twig" %}
{% block title %}SnowTricks - Forgot Password{% endblock %}

{% block body %}



<div class="loginForm">
    <h1>Login</h1>
    <form action="" method="post" class="FormDesktopForget">
        <div class="form-input">
            <label for="username merribold">Username</label><br />
            <input type="text" id="username" name="username" value="" />
        </div>
        <div>
            <input type="submit" class="btn-custom" value="Login" />
        </div>
    </form>
</div>

{% endblock %}
