{% block logo %}
<div class="snowframe container">
    <div class="snowfond">
        <div class="snowname indie hit-the-floor">
            <p class="boxhook">La référence par les pratiquants</p>
        </div>
    </div>
</div>
<div class="arrowtricks">
    <a href="#tricks"><i class="logo-arrow fas fa-arrow-down"></i></a>
</div>
{% endblock %}
