{# src/p6/CoreBundle/Resources/views/Advert/index.html.twig #}
{% extends "p6CoreBundle::layout.html.twig" %}
{% block title %}{{ parent() }}{% endblock %}

{% block body %}
<section id="trickslist">
Site en construction.<br/><br/><br/><br/><br/><br/><br/>
<br/><br/><br/><br/><br/><br/><br/><br/><br/><br/><br/>
<br/><br/><br/><br/><br/><br/><br/><br/><br/><br/><br/>
<br/><br/><br/><br/><br/><br/><br/><br/><br/><br/><br/>
<br/><br/><br/><br/><br/><br/><br/><br/><br/><br/><br/>
<br/><br/><br/><br/><br/><br/><br/><br/><br/><br/><br/>
<br/><br/><br/><br/><br/><br/><br/><br/><br/><br/><br/>
</section>



{% endblock %}
